@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
    font-family: Helios;
    src: url("#{resource['css:fonts/helios-regular.otf']}");
}

a {
    margin: 0;
    padding: 0;
    font-family: 'Monsterrat', "Arial", 'sans-serif';
}

a {
    text-decoration: none;
    margin : 0;
    padding: 0;

    width:100%;

}

/* NAVIGATION MENU */

.menu-header {
    background-color: rgb(119, 1, 1);
    display: flex;
    width : 100%;

    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
    justify-content: space-between;
}
.nav-bar {
    margin-left: 10px;
    display: flex;
}
.nav-link {


    font-size: 20px;
    /* margin : 10 10; */
    margin : 0;
    padding: 12px;

    /*transition: background-color .2s ease-in;*/
    transition: background-color .5s ease-out;
}
.nav-link > a {
    color : #fff;
}
.nav-link:hover {
    background-color: whitesmoke;
}

.nav-link > a:hover{

    color: darkcyan;
}

.helios-font{
    font-family: "Helios", "Roboto Condensed", sans-serif;
}

