@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Lobster');

body{
    /*background: #ffffff url("../67138867_p0.png") no-repeat fixed top;*/
    /*background-size: ;*/
}
.success-text{
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 40px;
    background: #000000;
}
.success-text > p{
    color: white;
    font-family: 'Just Another Hand',sans-serif;
    font-size: 60px;
}